<footer class="site-footer h-card">
  
    <!-- <div class="wrapper-footer">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="idakwowilliam" data-version="v1"><a target="_blank" class="badge-base__link LI-simple-link" href="https://ng.linkedin.com/in/idakwowilliam?trk=profile-badge"></a></div>      
            </div>
        </div>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                {%- include social.html -%}
            </div>
        </div>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                {%- include social.html -%}
            </div>
        </div>
    </div> -->
<div class=copyright> 
    &copy;<span id="date"></span> {{site.title}}. All Rights Reserved.
    <!--<a class = "credit" href="/home/"> License </a>-->
    <a class="credit" href="https://github.com/jekyll/minima" target="_blank"> Powered by Jekyll</a>   
    <a class="credit" href="https://gitlab.com/vixen24/williamtopics" target="_blank"> Designed by Me</a>   
</div>
</footer>