<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- seo -%}
  <link rel="stylesheet" href={{ "/assets/main.css" | relative_url }}>
  <!-- <link rel="preload" as="style" href={{ "/assets/main.css" | relative_url }}>  -->
  <link rel="shortcut icon" type="image/svg+xml" href={{ "../favicon.ico" | relative_url }}>
  <!--<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>-->
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
  