@charset "utf-8";
//"c9a5bc6a7c948fb0"
// Define defaults for each variable. - $base-font-family: -apple-system, BlinkMacSystemFont, "Georgia", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "c9a5bc6a7c948fb0", "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$base-font-family: -apple-system, BlinkMacSystemFont, "Garamond-R", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-Regular.ttf);
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-Italic.ttf);
  font-weight: normal;
  font-style:italic;
}

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-Bold.ttf);
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-BoldItalic.ttf);
  font-weight: bold;
  font-style:italic;
}

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-Light.ttf);
  font-weight: 300;
  font-style:normal;
}

@font-face {
  font-family: CaskaydiaCoveNerdFontMono;
  src: url(../assets/fonts/CaskaydiaCoveNerdFontMono-LightItalic.ttf);
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: c9a5bc6a7c948fb0;
  src: url(../assets/fonts/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  font-weight: 400;
  font-style:normal;
}


// @font-face {
//   font-family: Garamond-NTB;
//   src: url(../assets/fonts/GaramondNormalThinBold.ttf);
//   font-weight: 400;
//   font-style:bold;
// }

// @font-face {
//   font-family: Garamond-NCB;
//   src: url(../assets/fonts/GaramondNormalCondensedBold.ttf);
//   font-weight: 400;
//   font-style:bold;
// }

// @font-face {
//   font-family: Garamond-B;
//   src: url(../assets/fonts/GaramondNormalBold.ttf);
//   font-weight: 400;
//   font-style:bold;
// }


$spacing-unit:     30px !default; 

$text-color:                      #212226 !default;
$text-color-post-title:           #212226 !default;
$text-color-post-subtitle:        #334155 !default;
$text-hover-color:                #000dcf !default;
$background-color:                #fdfdfd !default;
$background-color-hover:          #ebebeb !default;
$background-color-block-quote:    #f5f5f5 !default;
$background-color-code-highlight: #b3cff7 !default;
$post-border:                     #dfdfdf !default;
$code-block-bg:                   #ebebeb !default;
$background-color-highlight-rouge:#eeeeff !default;

//Define color for dark theme
$text-color-dark:                      #fdfdfd !default;
$text-color-dark-post-title:           #abb3c4 !default;
$text-color-dark-post-subtitle:        #8e9ebe !default;
$text-color-dark-post-body:            #8d9dbe !default;
$text-hover-color-dark:                #8cb4ff !default;
$background-color-dark:                #181818 !default;
$background-color-dark-hover:          #383838 !default;
$background-color-block-quote-dark:    #252525 !default;
$background-color-code-highlight-dark: #24487c !default;
$post-border-dark:                     #202020 !default;
$code-block-bg-dark:                   #282828 !default;
$background-color-highlight-rouge-dark:#20202a !default;


$light-logo: url('/assets/images/logo-light.jpg');
$dark-logo: url('/assets/images/logo-dark.jpg');


@media screen and (max-width: 600px) { //$on-palm
  body {
    $base-font-weight: 300;
  }
}

@media screen and (max-width: 600px) { //$on-palm
  body {
    $base-font-size: 14px;
  }
}

$grey-color:       #3f3f3f !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$light-grey:       #6b6b6b !default;
$dark-grey:        #a8a8a8 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default; //out-of-box value was 800

$on-palm:          600px !default;
$on-laptop:        1000px !default; //out-of-box value was 800


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

//border style
$border-radius: 0.25rem;

// Import partials.
@import
  "minima/theme",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;