/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight $base-font-size $base-font-family;
  color: var(--text-color);
  background-color: var(--bg-color);
  text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: $base-line-height;

  @include media-query($on-laptop) {
    font-size: 16px;
    font-weight: 300;
  }
}


/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman";
  color: var(--text-color-title);
  line-height: initial;

  @include media-query($on-laptop) {
    //font-weight: 350;
  }
}

h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1em}
h4 {font-size: 0.5em}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, figure,
ul, ol, dl,
%vertical-rhythm {
  margin-bottom: calc($spacing-unit / 2);
}
//, pre, figure


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  filter: var(--img-filter);
  border-radius: 0.125rem;
}


/**
 * Figures
 */
figure {
  margin: 30px 0px 30px 0px;
}

figure > img {
  display: block;
}

figcaption {
  margin-top:5px;
  font-size: $small-font-size;
  color: var(--figcaption-color);
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Links
 */
a {
  color: var(--link-color);
  text-decoration: none;

  &:visited {
    color: var(--link-visited); //default darken($brand-color, 10%)
  }

  &:hover, &:focus {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: var(--blockquote-color);
  border-left: 4px solid var(--blockquote-border-left-color);
  padding: calc($spacing-unit / 8) calc($spacing-unit / 8) calc($spacing-unit / 8) calc($spacing-unit / 4);
  background-color: var(--blockquote-bg);
  font-weight: 400;
  //@include relative-font-size(1.0625);
  //font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre, code {
  @include relative-font-size(0.9375);
  background-color: var(--pre-code-bg);
  border-radius: calc($border-radius/1.4285) 0px calc($border-radius/1.4285) calc($border-radius/1.4285);
  line-height: 1.4;
}

code {
  padding: 1px 5px;
  font-family: CaskaydiaCoveNerdFontMono;
  font-weight: normal;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/*
 * Added feature 
 * Inline code block
*/

p > code {
    padding: 0px 5px 0px 5px;
    background-color: var(--p-code-bg);
    border-radius: $border-radius;
    border: var(--p-code-border-color);
}

li > code {
  padding: 0px 5px 0px 5px;
  background-color: var(--li-code-bg);
  border-radius: $border-radius;
  border: var(--li-code-border-color);
}


/**
 * Wrapper for post
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    padding-bottom: 30px;

    .post-content, #cmtBox, .post-title-block, .ulist, .home {
      padding-right: 15px;
      padding-left:  15px;
    }
  }

}


/*
Wrapper for header
*/

.wrapper-header {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  display:flex;
  line-height: 0em;
  @extend %clearfix;

  @include media-query($on-palm) {
    margin: 0 calc($spacing-unit / 2);
  }
}

.wrapper-header > :nth-child(1) {
  margin-right: auto;
}

/*
 * theme toggle button
*/

.toggle-theme {
  display: inline-block;
  margin-left: 1em;

  @include media-query($on-palm) {
    margin-left: 0px;
    border-top:1px solid var(--site-nav-page-link-hover-bg);
  }

}


.wrapper-footer {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

// .svg-icon {
//     //width: 16px;
//     //height: 16px;
//     //display: inline-block;
//     fill: var(--svg-icon-fill);
//     //padding-right: 5px;
//     vertical-align: text-top;
// }

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: var(--table-color);
  //color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  // tr {
  //   &:nth-child(odd) {
  //     background-color: lighten($grey-color-light, 6%);
  //   }
  // }
  th, td {
    padding: (calc($spacing-unit / 3)) (calc($spacing-unit / 2));
  }
  th {
    background-color: var(--table-th-bg);
    border: 1px solid $grey-color-light;
    border-bottom-color: $grey-color-light;
  }
  td {
    border: 1px solid $grey-color-light;
  }
}


/**
* Logo Variations
**/

.logo {
  margin: auto 0px;
  width: 4%;

  @include media-query($on-palm) {
    width: 10%;
  }

  > .site-logo > img {
    content: var(--logo-theme);
    filter: none;
  }
}