/**
 * Site header
 */
.site-header {
  padding: $spacing-unit;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--site-header-bg);

  @include media-query($on-palm) {
    padding: $spacing-unit 0px;
  }
}

.toggle-icon {
  width: 20px;
  height: 20px;
}

button#theme-toggle {
  border: none;
  background-color: var(--button-theme-toggle-bg);
  vertical-align: middle;
  width: 100%;

  :hover {
    cursor: pointer;
  }

}

button#theme-toggle-mobile {
  border: none;
  background-color: var(--button-theme-toggle-bg);
  vertical-align: middle;
  width: 100%;

  :hover {
    cursor: pointer;
  }

}

//inner-icon-color
g#theme-selector {
  fill: var(--theme-selector-fill-icon-color);
}

svg.hamburger-menu>path#mainIconPathAttribute {
  stroke: var(--button-hamburger-menu-stroke);
}

.site-nav {
  letter-spacing: normal;
  align-content: center;
  flex-shrink: 0;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--site-nav-page-link-color);
    line-height: $base-line-height;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: lowercase;

    &:hover {
      border-radius: 0.25rem;
      background-color: var(--site-nav-page-link-hover-bg);
      //color: var(--site-nav-page-link-hover-color);
    }

    /*------------------*/
    // Gaps between nav items, but not on the last one
    // &:not(:last-child) {
    //   margin-right: 5px;
    // }
  }

  a.page-link {
    &:hover {
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {

    //hamburger-menu
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    //position of hamburger menu icon
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0px;
      text-align: center;

      >svg {
        fill: $grey-color-dark;
      }
    }

    input~.trigger {
      clear: both;
      display: none;
    }

    // input:checked ~ .trigger {
    //   position: relative;
    //   display: block;
    //   top: calc($spacing-unit/2);
    //   padding-bottom: 5px;
    //   text-align: center;
    //   background-color: var(--on-palm-menu-bg);
    //   border: 1px solid var(--on-palm-input-border-color);
    //   //border-radius: $border-radius;

    // }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin: 0px 20px;
      }

    }
  }
}

.menu-dropdown {
  clear: both;
  display: none;
}

@include media-query($on-palm) {
  .menu-dropdown-on {
    text-transform: lowercase;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    //position: relative;
    //display: block;
    //top: calc($spacing-unit/2);
    padding-bottom: 5px;
    text-align: center;
    background-color: var(--on-palm-menu-bg);
    box-shadow: var(--menu-dropdown-box-shadow);

    a {
      color: var(--text-color);
      text-decoration: none;
    }
  }
}

/**
 * Site footer
 */

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -(calc($spacing-unit / 2));
  flex: 1;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: calc($spacing-unit / 2);
  padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: auto;
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}


.copyright {
  color: var(--copyright-color);
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.credit {
  color: var(--credit-color);
  padding-left: 15px;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--credit-visited-color);
  }
}


/**
 * Home Page Heading (Cybersecurity, DevOps ...)
*/

.interest {
  margin-bottom: 5px;

  a {
    color: var(--interest-a-color);
    text-decoration: none;

    &:visited {
      color: var(--interest-a-color-visited);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: 20px 0;

  @include media-query($on-palm) {
    padding: 0 0;
  }

  flex: 1;
}

.page-heading {
  @include relative-font-size(1.65);
}

.post-list-heading {
  margin: 30px 0px;
  border-radius: 1rem;
  background-color: #7a7a7a2e;
  padding: 5px 10px;
  font-size: 14px;
}

a.post-click {
  display: block;
  text-decoration: none;

  &:hover {
    //box-shadow: 5px 5px var(--a-post-click-li-hover-box-shadow-color);
    //background-color: var(--a-post-click-li-hover-box-shadow-color);
    text-decoration: none;
  }
}


.post-list {

  @include media-query($on-palm) {
    width: auto;
    margin-top: calc($spacing-unit/2);
    display: block;
  }

  margin-left: 0;
  list-style: none;

  /*Added feature for grid like blog post on home page*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc($spacing-unit);


  >li {
    margin-bottom: $spacing-unit;

    /*Added feature*/
    width: 310px;

    @include media-query($on-palm) {
      margin-bottom: calc($spacing-unit/2);
      width: auto;
    }
  }
}

//Added feature
.post-list-content {
  padding: 0px 2px 0px 2px;
  color: var(--text-color);
  text-decoration: none;

  @include media-query($on-palm) {
    width: auto;
    padding: 0px 10px 0px 0px;

    >p {
      margin-bottom: 5px;
    }
  }
}

li.list-style {
  //overflow: hidden;
  width: 310px;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    box-shadow: 0px 2px var(--li-list-style-on-palm-box-shadow-color);
    display: flex;
    width: auto;
    margin-bottom: calc($spacing-unit/2);
  }
}

/*Add images to post list*/
// .list-img-style {

//   @include media-query($on-palm) {
//     display: flex;
//     flex-basis: 40%;
//     flex-grow: 0;
//     flex-shrink: 0;
//   }

// }

.views-list {
  float: right;
  display: flex;
  align-items: center
}

.views {
  padding-left: 5px;
}

.post-top {
  display: inline;
}

.post-meta {
  font-size: 14px;
  letter-spacing: normal;
  margin-top: calc($spacing-unit/5);
  margin-bottom: 5px;
  white-space: nowrap;

  @include media-query($on-palm) {
    font-size: 12px;
  }
}

.post-link {
  font-size: 1.275em;
}

.post-excerpt {
  font-size: 16px;

  @include media-query($on-palm) {
    display: none;
  }

}


/**
 * Posts
 */
.post-header {
  text-align: center;
}

.post-title {
  padding: 15px 0px;
  font-size: 46px;

  @include media-query($on-palm) {
    font-size: 32px;
  }
}


//Added feature
.post-title-block {
  margin-top: calc($spacing-unit/0.75);
  margin-bottom: $spacing-unit;
  padding-bottom: calc($spacing-unit/0.75);
  text-align: left;

  @include media-query($on-palm) {
    margin-top: 10px;
  }
}

/*Refers to images in post page*/
.cover-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 1px solid var(--cover-image-border-color);
  margin: 0 0 20px 0;

  @include media-query($on-laptop) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/*Refers to images on the blog, on home page */
.blog-image {

  // object-fit: contain;
  @include media-query($on-palm) {
    width: 100%;
    object-fit: contain;
  }
}

.fa-heart {
  color: red;
  font-size: 12px;
}

.about-headshot {
  border: 2px solid #d1d1d1;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  padding: 2.5px;
}

.about-name {
  @include media-query($on-palm) {
    color: #2e2e2e;
    font-size: 16px;
  }

  margin-bottom: $spacing-unit;
  font-weight: 600;
  font-size: 20px;

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.dt-published {
  color: var(--dt-published-color)
}

.note-container {
  max-width: 80%;
  margin: auto;
  padding: 20px 20px 20px 20px;
  //border: 1px solid #5e5e5e;
  //border-radius: 20px;
  //background-color: var(--note-container-bg);
  background-color: #5168a517;
  //border: 1px solid #7e7e7e;

  @include media-query($on-palm) {
    //border:none;
    padding: 15px 15px 15px 15px;
    max-width: 100%;
    font-size: calc($base-font-size/1.125);
  }
}

.note-container-header {
  display: flex;
  align-items: flex-start;
}

.note-content-excerpt>p {
  margin-bottom: 0px;
  display: inline;
}