@mixin dark-theme {
  --text-color: #{$text-color-dark};
  --bg-color: #{$background-color-dark};
  --img-filter: #{brightness(.8) contrast(1.2)};
  --link-color:#{$text-hover-color-dark};
  --link-visited:#{darken($text-hover-color-dark, 10%)}; 
  --site-header-bg:#{$background-color-dark}; 
  --site-title-color: #{$text-color-dark};
  --site-title-visited-color: #{$text-color-dark}; 
  --site-nav-page-link-hover-bg: #{$background-color-dark-hover};
  --site-nav-page-link-color: #{$text-color-dark};
  --site-nav-page-link-hover-color: #{lighten($text-color-dark, 30%)};
  --on-palm-input-bg-color: #{$background-color-dark};
  --on-palm-input-border-color: #{$text-color-dark}; 
  --theme-selector-fill-icon-color: #{$text-color-dark}; 
  --button-theme-toggle-bg: #{$background-color-dark};
  --button-hamburger-menu-stroke: #{$text-color-dark}; 
  --wrapper-header-border-bottom-color: #{$text-color-dark};
  --interest-a-color: #{$text-color-dark};
  --interest-a-color-visited: #{$text-color-dark};
  --li-list-style-border-color: #{$post-border-dark}; 
  --li-list-style-on-palm-box-shadow-color: #{$post-border-dark}; 
  //--post-meta-color: #{$text-color-dark};
  --li-code-bg: #{$background-color-code-highlight-dark};
  --li-code-border-color: #{$background-color-code-highlight-dark};
  --p-code-bg: #{$background-color-code-highlight-dark};
  --p-code-border-color: #{$background-color-code-highlight-dark};
  --pre-code-bg: #{$code-block-bg-dark}; 
  --copy-code-btn-bg: #{$code-block-bg-dark};
  --copy-code-btn-color: #{$text-color-dark};
  --a-post-click-li-hover-box-shadow-color:#{$background-color-dark-hover};
  //--post-list-content-color: #{$text-color-dark};
  --post-title-block-border-bottom-color: #{$background-color-dark-hover}; 
  --blockquote-color: #{$text-color-dark};
  --blockquote-bg: #{$background-color-block-quote-dark};
  --blockquote-border-left-color: #{$text-hover-color-dark};
  --credit-color:  #{$text-color-dark};
  --credit-visited-color: #{$text-color-dark};
  --copyright-color: #{$text-color-dark};
  --svg-icon-fill: #{$text-color-dark};
  --dt-published-color: #{$dark-grey};
  --note-container-bg: #{$background-color-dark-hover};
  --table-color: #{$text-color-dark};
  --table-th-bg: #{darken($grey-color-light, 30%)};
  --highlighter-rouge-highlight-bg: #{$background-color-highlight-rouge-dark};
  --on-palm-menu-bg: #{$background-color-dark};
  --menu-dropdown-box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.12);
  --figcaption-color: #d5d5d5;
  --cover-image-border-color:#404040;
  --logo-theme: #{$dark-logo};
    //color-scheme: dark; //Causes disqus dark theme to load improperly
}

@mixin light-theme {
  --text-color: #{$text-color};
  --text-color-title:#{darken($text-color, 8%)};
  --bg-color: #{$background-color};
  --link-color:#{$text-hover-color};
  --link-visited:#{darken($text-hover-color, 10%)}; 
  --site-header-bg:#{$background-color}; 
  --site-title-color: #{$text-color};
  --site-title-visited-color: #{$text-color}; 
  --site-nav-page-link-hover-bg: #{$background-color-hover};
  --site-nav-page-link-color: #{$text-color};
  --site-nav-page-link-hover-color: #{darken($text-color, 30%)};
  --on-palm-input-bg-color: #{$background-color};
  --on-palm-input-border-color: #{$text-color}; 
  --theme-selector-fill-icon-color: #{$text-color}; 
  --button-theme-toggle-bg: #{$background-color};
  --button-hamburger-menu-stroke: #{$text-color}; 
  --wrapper-header-border-bottom-color: #{$text-color};
  --interest-a-color: #{$text-color};
  --interest-a-color-visited: #{$text-color};
  --li-list-style-border-color: #{$post-border}; 
  --li-list-style-on-palm-box-shadow-color: #{$post-border}; 
  //--post-meta-color: #{$text-color};
  --li-code-bg: #{$background-color-code-highlight};
  --li-code-border-color: #{$background-color-code-highlight};
  --p-code-bg: #{$background-color-code-highlight};
  --p-code-border-color: #{$background-color-code-highlight};
  --pre-code-bg: #{$code-block-bg};
  --copy-code-btn-bg: #{$code-block-bg};
  --copy-code-btn-color: #{$text-color};
  --a-post-click-li-hover-box-shadow-color: #{$background-color-hover}; 
  //--post-list-content-color: #{$text-color};
  --post-title-block-border-bottom-color: #{$background-color-hover}; 
  --blockquote-color: #{$grey-color};
  --blockquote-bg: #{$background-color-block-quote};
  --blockquote-border-left-color:#{$text-hover-color};
  --credit-color: #{$text-color};
  --credit-visited-color: #{$text-color};
  --copyright-color: #{$text-color};
  --svg-icon-fill: #{$text-color};
  --dt-published-color: #{$text-color-post-subtitle};
  --note-container-bg: #{$background-color-hover};
  --table-color: #{$text-color};
  --table-th-bg: #{lighten($grey-color-light, 3%)};
  --highlighter-rouge-highlight-bg: #{$background-color-highlight-rouge};
  --on-palm-menu-bg: #{$background-color};
  --menu-dropdown-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.12);
  --figcaption-color: #434343;
  --cover-image-border-color:#f2f2f2;
  --logo-theme: #{$light-logo};
    color-scheme: light;
}

.light-theme {
  @include light-theme;
}

.dark-theme {
  @include dark-theme;
}

/* 
Fix: Removed since color-scheme:dark is disabled
*/

// :root {
//   color-scheme: unset;
// }

/*
OS Theme Default
*/

:root:not(.light-theme):not(.dark-theme) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}