<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script>
      if (window && document.documentElement) {
        if (localStorage.getItem("theme") === "dark") {  
            document.documentElement.classList.add("dark-theme");
            localStorage.setItem("theme", "dark"); 
        } else if (localStorage.getItem("theme") === "light") {  
            document.documentElement.classList.add("light-theme");
            localStorage.setItem("theme", "light"); 
        } else if (window.matchMedia("(prefers-color-scheme: dark)")) {
            localStorage.setItem("theme", "dark"); 
        } else if (window.matchMedia("(prefers-color-scheme: light)")){
          localStorage.setItem("theme", "light"); 
        }
      }
    </script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>document.getElementById("date").innerHTML = new Date().getFullYear()</script>
    <script src={{"/assets/js/copy-code.js" | relative_url}}></script>
    <script src={{"/assets/js/menu.js" | relative_url}}></script>
    <script src={{"/assets/js/toggle-theme.js" | relative_url}}></script>
  </body>
</html>
