---
layout: default
---
<!-- <script>
  async function getViews(){
    await fetch('https://yuylqp22b2g3rvwzxk34uwyzhi0dvrvh.lambda-url.us-east-1.on.aws') 
    .then(response => response.json())
    .then((data) => {
      document.querySelector(".views").innerText = data.views
    })
  }
  getViews()
</script> -->
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading"><!--{{ page.title }}--></h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <div class="post-list-heading">
      <p class="post-top">{{ page.list_title | default: "Blog Posts" }}</p>
      <div class = views-list>
        <i class="fa fa-eye" color="blue" aria-hidden="true"></i>
        <div class="views"></div>
      </div>
    </div> -->
  </div>
  <div class = ulist>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.category == "blog" -%}
          <a class="post-click" href="{{ post.url | relative_url }}">
            <li class="list-style"> 
              <!-- <div class="list-img-style">
                {%- if post.coverimage -%}
                <img src="{{- post.coverimage | relative_url -}}" alt="" class="blog-image">
                {%- else -%}
                  {%- assign coverimage = "/assets/images/default837282782.webp" -%}
                  <img src="{{- coverimage | relative_url -}}" alt="" class="blog-image">
                {%- endif -%}
              </div> -->
              <div class="post-list-content">
                <div class="post-meta dt-published">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span>{{ post.date | date: date_format }}</span>
                  <span> • {{post.readtime}}</span>
                </div>
                <h2 class="post-link">{{ post.title | escape }}</h2>
                <p class="post-excerpt">
                  {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%}
                </p>
              </div>
            </li>
          </a>
        {%- endif -%}         
      {%- endfor -%}       
    </ul>
  </div>
  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}
</div>
