---
layout: default
---
{{content}}
<div>
    {%- for post in site.posts -%}
        {%- if post.category == "notes" -%}
            <article class="note" itemscope itemtype="http://schema.org/BlogPosting">          
                <div onclick="location.href='{{ post.url | relative_url }}';" style="cursor: pointer;" class="note-container">  
                    <div style="padding-bottom: 30px">              
                        <div style="float:left; display:flex; align-items: center;">
                            <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><polygon style="fill:#2BA5F7;" points="511.988,61.364 511.976,61.376 0,270.51 134.38,337.827 133.048,338.796 167.457,430.785 222.432,381.938 359.574,450.636 512,61.364 "/>
                                <g><polygon style="fill:#2197D8;" points="277.214,233.242 245.509,278.936 134.38,337.827 0,270.51 "/><polygon style="fill:#2197D8;" points="311.308,247.425 359.574,450.636 222.432,381.938 185.94,363.661 185.94,363.649 245.509,278.936 	"/>
                                </g><polygon style="fill:#1E91C4;" points="277.214,233.242 134.38,337.827 133.048,338.796 167.457,430.785 185.94,363.661 185.94,363.649 290.137,267.046 311.308,247.425 511.976,61.376 "/>
                            </svg>
                            <!-- <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m7.8 2.25h-.0321-.00002c-.81283-.00001-1.46844-.00001-1.99935.04336-.54663.04467-1.02678.13903-1.47099.36537-.70561.35952-1.27929.9332-1.63881 1.63881-.22634.44421-.3207.92436-.36537 1.47099-.04337.53091-.04337 1.18652-.04336 1.99935v.00002.0321 8.4.0321c-.00001.8129-.00001 1.4685.04336 1.9994.04467.5466.13903 1.0267.36537 1.471.35952.7056.9332 1.2792 1.63881 1.6388.44421.2263.92436.3207 1.47099.3653.53091.0434 1.18652.0434 1.99935.0434h.03212 3.3965.0775c.5929.0002 1.0034.0003 1.4012-.0869.3517-.077.6905-.2043 1.0059-.3779.3567-.1964.6656-.4668 1.1118-.8574l.0583-.051 5.0035-4.3781.0705-.0617c.5354-.4682.9059-.7921 1.1775-1.1921.2398-.3533.4175-.745.5255-1.1581.1222-.4678.122-.9599.1218-1.6712v-.0937-4.0219-.03212c0-.81283 0-1.46844-.0434-1.99935-.0446-.54663-.139-1.02678-.3653-1.47099-.3596-.70561-.9332-1.27929-1.6388-1.63881-.4443-.22634-.9244-.3207-1.471-.36537-.5309-.04337-1.1865-.04337-1.9994-.04336h-.0321zm-2.82148 1.74524c.19752-.10064.45829-.16977.91216-.20686.46263-.0378 1.05687-.03838 1.90932-.03838h8.4c.8525 0 1.4467.00058 1.9093.03838.4539.03709.7147.10622.9122.20686.4233.21571.7675.55992.9833.98328.1006.19752.1697.45829.2068.91216.0378.46263.0384 1.05687.0384 1.90932v4.0219c0 .8408-.0057 1.1277-.0731 1.3856-.0052.02-.0107.0399-.0165.0597-.0517-.0113-.1053-.0172-.1604-.0172h-2.2-.0321c-.8128 0-1.4685 0-1.9994.0434-.5466.0446-1.0267.139-1.471.3653-.7056.3596-1.2792.9332-1.6388 1.6388-.2263.4443-.3207.9244-.3653 1.471-.0434.5309-.0434 1.1866-.0434 1.9994v.0321 1.4171c-.1996.03-.4615.0329-1.0535.0329h-3.3965c-.85245 0-1.44669-.0006-1.90932-.0384-.45387-.0371-.71464-.1062-.91216-.2068-.42336-.2158-.76757-.56-.98328-.9833-.10064-.1975-.16977-.4583-.20686-.9122-.0378-.4626-.03838-1.0568-.03838-1.9093v-8.4c0-.85245.00058-1.44669.03838-1.90932.03709-.45387.10622-.71464.20686-.91216.21571-.42336.55992-.76757.98328-.98328zm8.77148 15.35186c.0359-.0314.0737-.0644.1134-.0992l5.0035-4.3781c.048-.0419.0935-.0818.1368-.1198h-1.2037c-.8525 0-1.4467.0006-1.9093.0384-.4539.0371-.7147.1062-.9122.2068-.4233.2158-.7675.56-.9833.9833-.1006.1975-.1697.4583-.2068.9122-.0378.4626-.0384 1.0568-.0384 1.9093z" fill="#000000" fill-rule="evenodd"/></svg> -->
                            <div>
                                <span id="author" style="font-weight:bold; padding-left: 15px;">
                                {{post.title}}
                                </span>
                            </div>
                        </div>

                        <div style="float:right;padding:10px 0px 0px 0px; display:flex; align-items: center; padding:0px;">
                            <svg height="18px" width="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve"> <g><g id="XMLID_25_"><g> <rect x="390" y="300" style="fill:#AFB6BB;" width="50" height="50"/><rect x="390" y="390" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="305" y="390" style="fill:#AFB6BB;" width="50" height="50"/><rect x="305" y="300" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="220" y="300" style="fill:#AFB6BB;" width="50" height="50"/><rect x="220" y="390" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="50" y="390" style="fill:#AFB6BB;" width="50" height="50"/><rect x="135" y="390" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="135" y="300" style="fill:#AFB6BB;" width="50" height="50"/><rect x="50" y="300" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="50" y="210" style="fill:#AFB6BB;" width="50" height="50"/><rect x="135" y="210" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="220" y="210" style="fill:#AFB6BB;" width="50" height="50"/><rect x="305" y="210" style="fill:#AFB6BB;" width="50" height="50"/> <rect x="390" y="210" style="fill:#AFB6BB;" width="50" height="50"/><path style="fill:#FFFFFF;" d="M480,170v300c0,5.498-4.502,10-10,10H20c-5.498,0-10-4.502-10-10V170H480z M440,440v-50h-50v50 H440z M440,350v-50h-50v50H440z M440,260v-50h-50v50H440z M355,440v-50h-50v50H355z M355,350v-50h-50v50H355z M355,260v-50h-50 v50H355z M270,440v-50h-50v50H270z M270,350v-50h-50v50H270z M270,260v-50h-50v50H270z M185,440v-50h-50v50H185z M185,350v-50 h-50v50H185z M185,260v-50h-50v50H185z M100,440v-50H50v50H100z M100,350v-50H50v50H100z M100,260v-50H50v50H100z"/> <path style="fill:#DD352E;" d="M220,80c0,5.498,4.502,10,10,10h30c5.498,0,10-4.502,10-10V50h80v30c0,5.498,4.502,10,10,10h30 c5.498,0,10-4.502,10-10V50h70c5.498,0,10,4.502,10,10v110H10V60c0-5.498,4.502-10,10-10h70v30c0,5.498,4.502,10,10,10h30 c5.498,0,10-4.502,10-10V50h80V80z"/> <path style="fill:#AFB6BB;" d="M140,50v30c0,5.498-4.502,10-10,10h-30c-5.498,0-10-4.502-10-10V50V20c0-5.498,4.502-10,10-10h30 c5.498,0,10,4.502,10,10V50z"/> <path style="fill:#AFB6BB;" d="M270,50v30c0,5.498-4.502,10-10,10h-30c-5.498,0-10-4.502-10-10V50V20c0-5.498,4.502-10,10-10h30 c5.498,0,10,4.502,10,10V50z"/> <path style="fill:#AFB6BB;" d="M400,50v30c0,5.498-4.502,10-10,10h-30c-5.498,0-10-4.502-10-10V50V20c0-5.498,4.502-10,10-10h30 c5.498,0,10,4.502,10,10V50z"/> </g><g><path style="fill:#231F20;" d="M470,40h-60V20c0-11.028-8.972-20-20-20h-30c-11.028,0-20,8.972-20,20v20h-60V20 c0-11.028-8.972-20-20-20h-30c-11.028,0-20,8.972-20,20v20h-60V20c0-11.028-8.972-20-20-20h-30C88.972,0,80,8.972,80,20v20H20 C8.972,40,0,48.972,0,60v410c0,11.028,8.972,20,20,20h450c11.028,0,20-8.972,20-20V60C490,48.972,481.028,40,470,40z M360,20h30 l0.001,60H360V20z M230,20h30l0.001,60H230V20z M100,20h30l0.001,60H100V20z M80,60v20c0,11.028,8.972,20,20,20h30 c11.028,0,20-8.972,20-20V60h60v20c0,11.028,8.972,20,20,20h30c11.028,0,20-8.972,20-20V60h60v20c0,11.028,8.972,20,20,20h30 c11.028,0,20-8.972,20-20V60h60v100h-20v-55h-20v55H60v-55H40v55H20V60H80z M20,470V180h450v290H20z"/> <rect x="230" y="120" style="fill:#231F20;" width="30" height="20"/> <rect x="280" y="120" style="fill:#231F20;" width="30" height="20"/> <rect x="330" y="120" style="fill:#231F20;" width="30" height="20"/> <rect x="180" y="120" style="fill:#231F20;" width="30" height="20"/> <rect x="130" y="120" style="fill:#231F20;" width="30" height="20"/> <path style="fill:#231F20;" d="M270,200h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C280,204.477,275.523,200,270,200z M260,250h-30v-30h30V250z"/> <path style="fill:#231F20;" d="M355,200h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C365,204.477,360.523,200,355,200z M345,250h-30v-30h30V250z"/> <path style="fill:#231F20;" d="M440,200h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C450,204.477,445.523,200,440,200z M430,250h-30v-30h30V250z"/> <path style="fill:#231F20;" d="M100,200H50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C110,204.477,105.523,200,100,200z M90,250H60v-30h30V250z"/> <path style="fill:#231F20;" d="M185,200h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C195,204.477,190.523,200,185,200z M175,250h-30v-30h30V250z"/> <path style="fill:#231F20;" d="M270,290h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C280,294.477,275.523,290,270,290z M260,340h-30v-30h30V340z"/> <path style="fill:#231F20;" d="M355,290h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C365,294.477,360.523,290,355,290z M345,340h-30v-30h30V340z"/> <path style="fill:#231F20;" d="M440,290h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C450,294.477,445.523,290,440,290z M430,340h-30v-30h30V340z"/> <path style="fill:#231F20;" d="M100,290H50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C110,294.477,105.523,290,100,290z M90,340H60v-30h30V340z"/> <path style="fill:#231F20;" d="M185,290h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C195,294.477,190.523,290,185,290z M175,340h-30v-30h30V340z"/> <path style="fill:#231F20;" d="M270,380h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C280,384.477,275.523,380,270,380z M260,430h-30v-30h30V430z"/> <path style="fill:#231F20;" d="M355,380h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C365,384.477,360.523,380,355,380z M345,430h-30v-30h30V430z"/> <path style="fill:#231F20;" d="M440,380h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C450,384.477,445.523,380,440,380z M430,430h-30v-30h30V430z"/> <path style="fill:#231F20;" d="M100,380H50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C110,384.477,105.523,380,100,380z M90,430H60v-30h30V430z"/> <path style="fill:#231F20;" d="M185,380h-50c-5.523,0-10,4.477-10,10v50c0,5.523,4.477,10,10,10h50c5.523,0,10-4.477,10-10v-50 C195,384.477,190.523,380,185,380z M175,430h-30v-30h30V430z"/> </g> </g> </g> </svg>
                            <!-- <svg class = "svg-icon" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M128 384v512h768V192H768v32a32 32 0 1 1-64 0v-32H320v32a32 32 0 0 1-64 0v-32H128v128h768v64H128zm192-256h384V96a32 32 0 1 1 64 0v32h160a32 32 0 0 1 32 32v768a32 32 0 0 1-32 32H96a32 32 0 0 1-32-32V160a32 32 0 0 1 32-32h160V96a32 32 0 0 1 64 0v32zm-32 384h64a32 32 0 0 1 0 64h-64a32 32 0 0 1 0-64zm0 192h64a32 32 0 1 1 0 64h-64a32 32 0 1 1 0-64zm192-192h64a32 32 0 0 1 0 64h-64a32 32 0 0 1 0-64zm0 192h64a32 32 0 1 1 0 64h-64a32 32 0 1 1 0-64zm192-192h64a32 32 0 1 1 0 64h-64a32 32 0 1 1 0-64zm0 192h64a32 32 0 1 1 0 64h-64a32 32 0 1 1 0-64z"/></svg> -->
                            <time style="padding-left:5px" class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ post.date | date: date_format }}
                            </time>
                        </div>
                    </div>
                    <div class="note-content-excerpt">
                        {%- if site.show_excerpts -%}
                            {{ post.excerpt }}
                        {%- endif -%}
                    <p style="display: inline">...</p>
                    </div>
                </div>
            </article>
            <br>
        {%- endif -%}       
    {%- endfor -%}     
</div>