---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-title-block">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        <span class="dt-published">By</span>
        <span class="dt-published" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
            class="p-author h-card" itemprop="name"><strong>William Idakwo</strong></span>
          <span class="dt-published"> | </span>
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          <span class="dt-published"> &nbsp • {{page.readtime}}</span>
          {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
              itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
      </div>
    </div>
    {%-if page.coverimage -%}
    <img src="{{- page.coverimage | relative_url -}}" alt="" class="cover-image">
    {%-else -%}
    <!-- Do not show any images -->
    {%- endif -%}
    <br>
    <br>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <br>
  <br>
  <div id="cmtBox">
    {%- include disqus_comments.html -%}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>